<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AuthorizationServiceApiUrl" value="https://localhost:7153" />
		<add key="SearchServiceApiUrl" value="https://localhost:7120" />
		<add key="TicketBuyingServiceApiUrl" value="https://localhost:7189" />
		<add key="NotificationServiceApiUrl" value="https://localhost:7282" />

		<add key="MailFrom" value="jctzxw@mail.ru" />
		<add key="MailServicePassword" value="dCEmnUpNv2VVULx80FxM" />
	</appSettings>
</configuration>