<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AuthorizationServiceApiUrl" value="http://authorization.api:8080/Auth" />
		<add key="SearchServiceApiUrl" value="http://ticketsearch.api:8080/Search" />
		<add key="TicketBuyingServiceApiUrl" value="http://ticketbuying.api:8080/Buy" />
		<add key="NotificationServiceApiUrl" value="http://notification.api:8080/Notify" />

		<add key="MailFrom" value="jctzxw@mail.ru" />
		<add key="MailServicePassword" value="dCEmnUpNv2VVULx80FxM" />

		<add key="LoginJwt" value="admin" />
		<add key="PasswordJwt" value="12345678" />
	</appSettings>
</configuration>