<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MailFrom" value="jctzxw@mail.ru" />
		<add key="MailServicePassword" value="dCEmnUpNv2VVULx80FxM" />

		<add key="ConnectionHostName" value="my-rabbit" />
		<add key="ConnectionUserName" value="guest" />
		<add key="ConnectionPassword" value="guest" />
	</appSettings>
</configuration>